.tab-panel-reviews .comment-list .comment-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.tab-panel-reviews h3{
    margin-bottom: 15px;
}

.tab-panel-reviews .comment-avatar img {
    border-radius: 50%;
    display: flex;
}

.tab-panel-reviews .comment-list {
    display: flex;
    flex-direction: column;
    row-gap:30px;
}

.tab-panel-reviews .comment-star {
    color: gold;
    font-size: 12px;
    display: flex;
}

.tab-panel-reviews .comment-text {
    display: flex;
    flex-direction: column;
}

.tab-panel-reviews span.required{
    color:#e51414;
}

.tab-panel-reviews .comment-meta {
    font-size: 14px;
}

.tab-panel-reviews .comment-description p {
    font-size: 16px;
}

.tab-panel-reviews .review-form-wrapper h2{
    font-size:16px;
    font-weight: 500;
    margin:20px 0;
    border-bottom: 1px solid #dee0ea;
    padding-bottom:16px;
}

.tab-panel-reviews .comments-notes{
    font-size:14px;
}

.tab-panel-reviews .comment-form-rating{
    margin:20px 0;
    font-size:14px;
}

.tab-panel-reviews .comment-form-rating .stars{
    display: flex;
    margin-top:5px;
}

.tab-panel-reviews .comment-form-rating .stars i{
    /* color:gold; */
    font-size:10px;
    color: #dee0ea;
    transition: 0.2s all ease;
}

.tab-panel-reviews .comment-form-rating .stars a{
    display: flex;
    padding:4px 10px;
    border-right:1px solid #dee0ea;
}

.tab-panel-reviews .comment-form-rating .stars a:first-child{
    padding-left:0;
}

.tab-panel-reviews .comment-form-rating .stars a:last-child{
    border:none;
}

.tab-panel-reviews .comment-form-rating .stars a:hover i{
    color:gold;

}

.comment-form .cf{
    display: flex;
    flex-direction: column;
    font-size:14px;
    row-gap: 4px;
    margin-bottom:15px;
}

.comment-form .comment-form-cookies{
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

#cookies{
    margin-right: 5px;
}

.comment-form input.submit{
    background-color: #000;
    color:#fff;
    cursor: pointer;
}
